# Configuración de base de datos
DB_USER="root"
DB_PASSWORD="tu_password"
DB_NAME="mi_base"

# Configuración de directorios y logs
BACKUP_DIR="/home/yvnsu/backups"
LOG_FILE="/home/yvnsu/backup.log"

# Configuración de cifrado (Frase secreta para proteger el archivo)
ENCRYPTION_PASS="mi_clave_secreta_123"

# Configuración remota (Opcional)
REMOTE_USER="usuario_remoto"
REMOTE_HOST="ip_o_host_remoto"
REMOTE_DIR="/path/to/remote/backups"
